
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Fixed title at the top */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color:white;
    color: white;
    justify-content:space-between;
    margin-top: 5px;
    padding:0 20px;
    box-sizing: border-box;
    flex-direction: row;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;


}
.logo {
    border-radius: 10px;
    margin: 5px;
}
.btn {
    border: none;
    margin:10px 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: white;


}
.search-box {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.search-box input {
    border-radius: 50px;
    border: none;
    font-size: 20px;
    height: 20px;
    width: 500px;
    outline: none;



}

.search-box i{
    color: black;
    font-size: 20px;

}


/* Sidebar sections */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 100px;
    height: 100%;
    width: 300px;
    background-color:#bdc3c7;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    font-size: 20px;
    margin: 20px;

}
.sidebar ul :hover {
    background-color: white;

}

/* Main content section */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 68%;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: #F0F2F5;
    flex-direction: column;
    min-width: 200px;
    gap: 30px;




}
.pots {

    margin: 20px;
    overflow: auto;
    display: flex;
    width:72%;
    background-color: white;
    border-radius: 20px;





}
.potsbtn{
    display: flex;
    gap: 100px;
    width: 100%;
    border-top: 1px solid black;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}
.btn {
    background-color:white;
    font-size: 20px;
}
.feel {
    margin:50px;

}
.post1 {
    display: flex;
    margin: 20px;
    width:72%;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    gap: 20px;
}
.img1 img {
    margin: 5px 14px;
    height: 200px;
    width: 200px;


}
.btn1 {
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px 20px;
    cursor: pointer;

}
.sidebar-right {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    background-color:#bdc3c7;
    flex-direction: column;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.stories {
    margin: 10px;
    height: 130px;
    width: 300px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.stories img {
    border: 1px solid darkslateblue;
    margin: 10px;
}
 #b
{
     margin-left: 190px;
   color: cornflowerblue;

}






