
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Fixed title at the top */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    color: white;
    align-items: center;
    margin-top: 5px;
    padding:0 20px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header img {
    margin-right: 100px;
}
.header b {
    color:black;
    border-right: 3px solid gray;
    padding: 5px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;

}
.btn {
    border: none;
    color: cornflowerblue;
    font-size: 25px;
    cursor: pointer;
    border-right: 3px solid gray;

}
.search-box {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

.search-box input {
    border: none;
    margin-left: 10px;
    font-size: 20px;
    height: 20px;
    width: 500px;
    outline: none;

}

.search-box i{
    color: black;
    font-size: 20px;

}


/* Sidebar sections */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #F0F2F5;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    font-family: "Calibri Light";
    font-size: 20px;
    margin: 20px;

}
.sidebar ul :hover {
    background-color: white;

}

/* Main content section */
.main {
    margin-top: 60px;
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
}

